<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_HangHoa.Properties.Settings.QL_HangHoaConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\c#2\QL_HangHoa.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>